.drop-swiper {
  margin-top: 50px;
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 640px;
    height: 360px;
    justify-content: center;
    display: flex;
    .image-nft-drop {
      display: block;
      height: 100%;
    }
    .drop-desc {
      color: #DC0000;
      position: absolute;
      bottom: 1rem;
      font-weight: bold;
    }
  }
}