.header-wrapper {
  background-color: black !important;
  .navbar-brand {
    cursor: pointer;
  }
  .header-menu {
    color: white;
    font-size: 1.3rem;
    .link {
      text-decoration: none;
    }
    .nav-link {
      color: white;
    }
  }
}