.pass-detail-container {
  padding: 0 1rem;
  .pass-info-container {
    
  }
  .card-wrapper {
    display: flex;
    .rccs {
      margin: 0 1rem;
    }
    .input-wrapper {
      width: 320px;
      .split {
        display: flex;
        input:first-child {
          margin-right: 0.5rem;
        }
        input:not(:first-child) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}