.buy-detail-container {
  padding: 0 1rem;
  
  .tab-wrapper {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,rgb(0,0,0) 0%,rgb(21,20,20) 50%,rgb(0,0,0) 100%);
    .chakra-tabs {
      color: white;
      max-width: 640px;
      .card-wrapper {
        display: flex;
        min-width: 640px;
        .rccs {
          margin: 0 1rem;
        }
        .input-wrapper {
          .split {
            display: flex;
            input:first-child {
              margin-right: 0.5rem;
            }
            input:not(:first-child) {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}